* {
    box-sizing: border-box;
}

body {
    background-color: rgb(46, 72, 87);
    color: white;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

.movie {
    width: 300px;
}

.movie img {
    max-width: 100%;
}